@import url('https://fonts.cdnfonts.com/css/google-sans');
@import url('https://fonts.cdnfonts.com/css/monaco');
@import url('https://fonts.cdnfonts.com/css/inter');

     
:root{
  --primary-background-color: rgb(23 23 23);
  --secondary-background-color: #1f1f1f;
  --primary-text-color: #fff;
  --secondary-violet-color: #4f45e4;
  --border-color:rgb(129 129 129);

}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;
  display: none;
}

body{
  background-color:rgb(23 23 23);
  font-family:  'Inter', sans-serif;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;


}

.nav{
  font-family: 'Product Sans Medium', sans-serif;
  backdrop-filter: blur(10px);
  font-size: 3rem;
  text-align: center;
  width: 100vw;
  height: 4rem;
  margin-top: 0px;
  border-radius: 0px 0px 40px 40px;
  border-bottom: 1px solid var(--secondary-violet-color);
  position: fixed;
  TOP:0;
  z-index: 100;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
.input-box{
  backdrop-filter: blur(10px);
  background-color: #212121;
  border-radius: 10px;
  border: none;
  min-width: 100%;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  margin: 5px;
  color: #fff;
  font-family: 'inter', sans-serif;
}

textarea{ 
  padding-left: 15px;
  background-color: #212121;
  resize: none;
}

input:focus{
  outline: none !important; 
  background-color: transparent !important; 
  border: none !important;
}

.submit{
  font-family:"Inter", sans-serif;
  padding: 0.8rem;
  background-color: var(--secondary-violet-color);
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  border: none;
}

.submit:hover{
  transform: scale(1.03);
}

.formatted-text {
  text-align: left;
  margin: 20px auto; 
  font-family:"Inter", sans-serif; 
  font-size: 0.9rem;
  font-weight: 300;
  padding: 10px; 
  line-height: 1.8; 
  white-space: pre-line;
  background-color: #1d1d1e;
  border: 1px solid #1d23c746;
  border-radius: 10px;
}
