@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
:root{
  --primary-background-color: rgb(23 23 23);
  --secondary-background-color: #1f1f1f;
  --primary-text-color: #fff;
  --secondary-violet-color: #4f45e4;
  --border-color:rgb(129 129 129);

}

body{
  background-color: #242424;
  color: #fff;
}